.hbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row; }

.vbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column; }

.fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.scroll {
    overflow: scroll; }

.grow {
    -webkit-flex: 1;
    flex: 1; }


.debug {
    border: 1px solid red;
}



.hidden {
    visibility: hidden;
}

