/* resets */
body {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 11pt;
}

button, input, input[type=search], .button {
    font-size: 100%;
    font-weight: normal;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 0;
    padding: 0.25em 0.5em;
    margin: 0.25em;
}

input[type=search] {
    -webkit-appearance: none;
    border-radius: 1em;
    padding-right: 0;
}





/* styling buttons */

button, .button {
    background-color: #eee;
    border-color: #aaa;
    border-radius: 0.2em;
}
button:hover, .button:hover {
    background-color: #bbb;
    border-color: #888;
}
button:active, .button:active {
    background-color: #666;
}
button.selected, .button.selected {
    background-color: #add1ff;
}
button.selected:hover, .button.selected:hover {
    background-color: #8faacc;
}
button.primary, .button.primary {
    background-color: #add1ff;
}

/* styling text inputs */
input {
    border-color: #aaa;
}



/* toolbar and status bar*/
.toolbar, .statusbar {
    border: 1px solid #444;
    background-color: #aaa;
    min-height: 1em;
    align-items: baseline;
}
.statusbar {
    border-width: 1px 0px 0px 0px;
}

/* panes */
.left-pane {
    border: 1px solid #444;
    border-width: 0px 1px 0px 0px;
    min-width: 10em;
}
.right-pane {
    border: 1px solid #444;
    border-width: 0px 0px 0px 1px;
    min-width: 10em;
}

.pane {
    border: 0px solid gray;
}




/* ==== forms === */

/* make each form line be pretty */
.form > .hbox {
    line-height: 2em;
    min-height: 2em;
    margin: 0.5em;
    align-items: baseline;
}

/* special formatting for the first label of a line */
.form > .hbox > label:first-child {
    width: 30%;
    text-align: right;
    font-weight: bold;
    padding-right: 1em;
}
/* fix left alignment for the other parts of a line */
.form > .hbox > button, .form > .hbox > input {
    margin-left: 0;
}

.form input + label {
    border: 0px solid red;
    margin-right: 1em;
}


.group {
    border: 0px solid red;
    margin:0;
    padding:0;
    align-items: baseline;
}
.group button {
    margin:0;
    border-width: 1px 0px 1px 1px;
    border-radius: 0;
}
.group button:first-child {
    border-radius: 0.2em 0em 0em 0.2em;
}
.group button:last-child {
    border-right-width: 1px;
    border-radius: 0em 0.2em 0.2em 0 ;
}
